<!DOCTYPE html>
<html>
<head>
    <title>My Free Open Source Software Project</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
    <script type="text/javascript">        function removeEditors() { $('.dialog').remove(); $('#dialog-background').hide(); }</script>
</head>

<body id="body">
    <div id="site-container">
        @RenderBody()
    </div>
</body>
</html>